/*

An ebook stylesheet

Original by Ian Hocking 2013

*/
p
{
	font-size: 10px;
	font-family: Courier New;
	text-align:justify;
}

h1, h2, h3
{
	text-align:center;
	text-indent:0;
}
h1
{
	font-size: 50px;
}
h2
{
	font-size: 40px;
}
h3
{
	font-size: 30px;
}
A:link
{
	color:#0000ff;
}

hr {
  margin-top: 3em;
  border: none;
}

h5 {
	text-align: center;
	height: 1em;
}
